@font-face {
  font-family: 'iconfont';  /* project id 2111300 */
  src: url('//at.alicdn.com/t/font_2111300_p9qpk97xqak.eot');
  src: url('//at.alicdn.com/t/font_2111300_p9qpk97xqak.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2111300_p9qpk97xqak.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2111300_p9qpk97xqak.woff') format('woff'),
  url('//at.alicdn.com/t/font_2111300_p9qpk97xqak.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2111300_p9qpk97xqak.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: "\e6bf";
}

.icon-username:before {
  content: "\e603";
}
