@font-face {
  font-family: 'iconfont';  /* project id 2111300 */
  src: url('//at.alicdn.com/t/font_2111300_sz3y5wpgo3n.eot');
  src: url('//at.alicdn.com/t/font_2111300_sz3y5wpgo3n.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2111300_sz3y5wpgo3n.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2111300_sz3y5wpgo3n.woff') format('woff'),
  url('//at.alicdn.com/t/font_2111300_sz3y5wpgo3n.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2111300_sz3y5wpgo3n.svg#iconfont') format('svg');
}

.iconfont:before {
  font-family: "iconfont" !important;
  font-size: 1.2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.2rem;
}

.icon-password:before {
  content: "\e6bf";
}

.icon-username:before {
  content: "\e603";
}

.icon-user:before {
  content: "\e697";
}

.icon-email:before {
  content: "\e60b";
}

.icon-location:before {
  content: "\e600";
}

.icon-code:before {
  content: "\e657";
}

.icon-time:before {
  content: "\e616";
}

.icon-li:before {
  content: "\e6a0";
}

.icon-refresh:before {
  content: "\e786";
}
