html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #2c3e50;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
@font-face {
  font-family: 'iconfont';
  /* project id 2111300 */
  src: url('//at.alicdn.com/t/font_2111300_p9qpk97xqak.eot');
  src: url('//at.alicdn.com/t/font_2111300_p9qpk97xqak.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_2111300_p9qpk97xqak.woff2') format('woff2'), url('//at.alicdn.com/t/font_2111300_p9qpk97xqak.woff') format('woff'), url('//at.alicdn.com/t/font_2111300_p9qpk97xqak.ttf') format('truetype'), url('//at.alicdn.com/t/font_2111300_p9qpk97xqak.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-password:before {
  content: "\e6bf";
}
.icon-username:before {
  content: "\e603";
}
